.widgets {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 5rem;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  backdrop-filter: blur(6px);
  height: 20rem;
  padding: 10px;
}

@media screen and (max-width: 391px) {
  .widgets {
    top: 7.3rem;
  }
}
