@import '/src/colors.scss';

.countryMap {
  width: 100%;
}
.heading {
  display: flex;
  justify-content: space-between;

  .fullScreenBtn {
    background-color: $light-blue;
  }
}

.mapContainer {
  min-height: 50vh;
  height: 100%;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none;
}
