.countryMap {
  width: 100%;
}
.heading {
  display: flex;
  justify-content: space-between;

  .fullScreenBtn {
    background-color: #4da8f7;
  }
}

.mapContainer {
  height: 70vh;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none;
}
