
.notFound {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;

    .notFoundText {
        text-align: center;
        font-size: 3rem;
        margin: 10px;
    }
    .notFoundBtn {
        margin: 10px;
        padding: 15px 20px 15px 20px;
        background-color: transparent;
        border-radius: 5px;
        cursor: pointer;
    }
    .notFoundBtn:hover {
        transform: scale(1.1);
    }
}