@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import '/src/colors.scss';

.attractions {
  margin: 2rem 0;

  .attractionsHeading {
    text-align: center;
    margin-bottom: 1rem;
  }

  .image-gallery-slide {
    outline: none;

    .image-gallery-description {
      font-size: calc(12px + 7 * (100vw / 912));
      background: rgba(0, 0, 0, 0.7);
    }
  }

  .image-gallery-icon:hover {
    color: $light-blue;
  }
}
