.countries {
  display: grid;
  grid-template-columns: 1fr;
  padding-right: 5px;
  padding-left: 5px;

  .cardContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .card {
      width: 90%;
      height: auto;
      max-width: 35rem;
      min-height: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      cursor: pointer;
      transition: transform 0.3s;

      .countryImage::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.548),
          rgba(0, 0, 0, 0.25)
        );
      }

      .link {
        text-decoration: none;
        color: white;
      }
    }

    .card:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (min-width: 500px) {
  .countries {
    display: grid;
    grid-template-columns: 1fr;
    .cardContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      .card {
        width: 90%;
        height: auto;
        max-width: 40rem;
        min-height: 18rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .countries {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .cardContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      .card {
        width: 90%;
        height: auto;
        max-width: 30rem;
        min-height: 15rem;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .countries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1800px) {
  .countries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}