.mainImage {
  width: 100%;
  object-fit: cover;
  height: 20rem;
  object-position: 50% 40%;
}
.countryHeading {
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .countryHeading {
    font-size: 1.2rem;
  }
}
