@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  transition: background-color 500ms linear;
}

body.dark-mode {
  background-color: $bgPage-dark;
  color: $textPage-light;
  transition: background-color 500ms linear;
  .header {
    background-color: $bgHeader-dark;
    transition: background-color 500ms linear;
  }

  .widgets {
    background-color: $bgWidgets-dark;
    transition: background-color 500ms linear;
  }

  .MuiDialogTitle-root {
    color: $textPage-light;
    background-color: $bgPage-dark;
  }

  .MuiDialogContent-root {
    background-color: $bgPage-dark;
    .MuiInputBase-root {
      color: $white;
    }
    .MuiSelect-icon {
      color: $white;
    }
    .MuiOutlinedInput-notchedOutline {
      border-color: $white;
    }
  }
  .MuiDialogActions-root {
    color: $textPage-light;
    background-color: $bgPage-dark;
  }
  @media screen and (max-width: 880px) {
    .MuiList-root {
      color: $white;
      background-color: $bgPage-dark;
    }
  }
}
