$bgPage-dark: rgb(41, 42, 50);
$textPage-light: rgb(251, 250, 248);
$bgHeader-dark: rgb(26, 52, 156);
$bgHeader-light: rgb(0, 168, 247);
$bgWidgets-dark: rgba(0, 0, 0, 0.4);
$bgWidgets-light: rgba(255, 255, 255, 0.2);
$white: rgb(255, 255, 255);
$light-blue: rgb(0, 168, 247);

// 8f0cf9
